.R0page {
    width: 100vw;
    height: 100vh;

    .timesup{
        position: fixed;
        top: 0;
        left: 0;
        width: X_px(1920);
        height: Y_px(1080);
        
        opacity: 1;
        
        background: black;
        z-index: 1;
        transition: opacity 0.1s;
        &-hide{
            opacity: 0;
        }
    }

    .top-bar {
        position: fixed;
        top: 0;
        left: 0;
        width: X_px(1920);
        height: Y_px(90);
    }

    .main {
        position: fixed;
        top: Y_px(90);
        left: 0;
        width: X_px(1920);
        height: Y_px(900);

        .main-display {
            position: fixed;
            top: Y_px(90);
            left: 0;
            width: X_px(1600);
            height: Y_px(900);
        }

        .side-bar {

            position: fixed;
            top: Y_px(90);
            right: 0;
            width: X_px(320);
            height: Y_px(900);

            .side-block {
                position: fixed;
                top: Y_px(90);
                right: 0;
                width: X_px(320);
                height: Y_px(240);
            }
            .side-content {
                position: fixed;
                bottom: Y_px(90);
                right: 0;
                width: X_px(320);
                height: Y_px(660);
                
                .irc {
                    position: fixed;
                    bottom: Y_px(90);
                    right: 0;
                    width: X_px(320);
                    height: Y_px(660);
                }
            }
        }

        
    }

    .bottom-bar {
        position: fixed;
        bottom: 0;
        left: 0; 
        width: X_px(1920);
        height: Y_px(90);
    }

    .forum {

        &-slido {
            position: fixed;
            top: Y_px(90);
            left: 0;
            width: X_px(1370);
            height: Y_px(900);
            transition: opacity 0.5s;
            opacity: 1;
            &-hidden{
                opacity: 0;
            }
        }

        &-cam {
            background-image: url("/img/r0/cam2.png");
            position: fixed;
            top: Y_px(90);
            right: 0;
            width: X_px(550);
            height: Y_px(450);
        }

        &-card {
            position: fixed;
            bottom: Y_px(90);
            right: 0;
            width: X_px(550);
            height: Y_px(450);
        }
    }
}
