.R0page {
    width: 100vw;
    height: 100vh;

    .top-bar {
        position: fixed;
        top: 0;
        left: 0;
        width: X_px(1920);
        height: Y_px(90);
    }

    .main {
        position: fixed;
        top: Y_px(90);
        left: 0;
        width: X_px(1920);
        height: Y_px(900);

        .main-display {
            position: fixed;
            top: Y_px(90);
            left: 0;
            width: X_px(1600);
            height: Y_px(900);
        }

        .side-bar {

            position: fixed;
            top: Y_px(90);
            right: 0;
            width: X_px(320);
            height: Y_px(900);

            .side-block {
                position: fixed;
                top: Y_px(90);
                right: 0;
                width: X_px(320);
                height: Y_px(240);
            }

            .irc {
                position: fixed;
                bottom: Y_px(90);
                right: 0;
                width: X_px(320);
                height: Y_px(660);
            }
        }

        
    }

    .bottom-bar {
        position: fixed;
        bottom: 0;
        left: 0; 
        width: X_px(1920);
        height: Y_px(90);
    }

}
