$top-bar-width:             1080px;
$top-bar-height:            90px;

$bottom-bar-width:          1080px;
$bottom-bar-height:         90px;

$main-display-width:        1600px;
$main-display-height:       900px;

$irc-display-width:         320px;
$irc-display-height:        750px;

.integrated {
    display: flex;
    width: 100vw;
    height: 100vh;

    .main-content {
        width: 83%;
    }

    .IRC-bar {
        width: 18%;
        
        border-bottom: white solid 1px;

        .live {
            height: 8%;
            background-color: black;
            border-bottom: white solid 1px;
        }

        .IRC {
            height: 74%;
            border-left: white solid 1px;
        }
    }
}
