.test {
    &-IRC {
        width: 100vw;
        height: 100vh;
    }

    &-NowAgendaBar {
        width: 100vw;
        height: 100vh;
    }

    &-MainDisplay {
        width: 100vw;
        height: 100vh;
    }

    &-ButtomBar {
        width: 100vw;
        height: 100vh;
    }

    &-Slido {
        width: 100vw;
        height: 100vh;
    }
}