.NowAgendaBar {
    height: 100%;
    background-color: black;
    padding: Y_px(22.5) 0px;

    .agenda {
        height: 100%;
        background-color: white;
        display: inline-flex;
        padding: 0px 25px;
        align-items: center;
        clip-path: polygon(0% 0%, 100% 0%, calc(100% - 7.76px) 100%, 0% 100%);
        border-radius: 2px;

        &-time {
            width: 70px;
            height: 24px;
            background-color: black;
            border-radius: 8px;
            margin-left: 32px;
            padding: 0px 4px 4px 4px;
            font-size: 18px;
            font-weight: 300;
            letter-spacing: 3.6px;
            text-align: right;
            color: #ffffff;
            line-height: 1.2;
            
            
        }

        &-title {
            margin-left: 24px;
            font-size: 24px;
            font-weight: bold;
        }

        &-name {
            margin-left: 24px;
            font-size: 24px;
        }
    }
}