.slido {
    width: 100%;
    height: 100%;
    opacity: 0;

    iframe {
        width: 100%;
        height: 100%;
    }
}

.slido-disabled {
    width: 100%;
    height: 100%;
    background-color: steelblue;
}

.slido-on-main {
    z-index: 1;
    position: fixed;
    top: Y_px(90);
    left: 0;
    width: X_px(1600);
    height: Y_px(900);

    animation: display-on-main 0.5s ease-in-out;
    opacity: 1;
}

.slido-on-sidebar {
    z-index: 1;
    position: fixed;
    bottom: Y_px(90);
    right: 0;
    width: X_px(320);
    height: Y_px(660);

    animation: display-on-sidebar 0.5s ease-in-out;
    opacity: 1;
}

.slido-hide {
    opacity: 0;
    width: X_px(320);
    height: Y_px(900);
}

@keyframes display-on-main {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes display-on-sidebar {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}